.event-detail-page {
    height: 100%;
    width: 100%;
}

.detail-page-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 30px 0;
    width: 100%;
}

.event-detail-name {
    font-size: 45px;
    text-align: left;
    margin: 50px 0 0 50px ;
}

.event-detail-date-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 52px;
}

.event-detail-date {
    padding-left: 20px;
}

.event-complete-button {
    color: white;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.event-body-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    width: 90%;
}

.event-detail-message-container {
    text-align: left;
}

.event-options-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.event-edit-button {
    font-size: 14px;
    color: white;
    padding: 5px;
    border: none;
    background-color: var(--primary);
    border-radius: 4px;
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

.event-edit-button:hover {
    background-color: var(--third);
}

#delete:hover {
    background-color: var(--fourth);
}

/* /////////////// @media //////////////// */
@media only screen and (max-width: 600px) {
    .event-detail-name {
        font-size: 35px;
        margin: 60px 10px 0 30px;
    }

    .event-detail-date-container {
        margin-left: 35px;
    }

   .event-body-container {
        margin: 30px;
   }
}