.nav-bar.open {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    height: 100vh;
    width: 350px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background: rgba(10, 10, 10, .65);
    box-shadow: 0 8px 32px rgb(2, 4, 24);
    border-right: 2px solid rgba(255, 255, 255, .09);
    transition: .2s;
}

.nav-bar {
    position: absolute;
    width: 0;
    background: none;
    box-shadow: none;
    transition: .2s linear;
    z-index: 9999;
}


/* /////////////// Navbar Toggler //////////////// */
.nav-toggle.open {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    cursor: pointer;
    font-size: 25px;
    top: 30px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    z-index: 1000;
    pointer-events: all;
    /* background: linear-gradient(90deg, transparent 50%, rgba(10, 10, 10, .65) 50%); */
}

.nav-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    font-size: 25px;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    z-index: 1000;
    pointer-events: all;
}

/* /////////////// User Info //////////////// */
.user-info.open {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    opacity: 1;
    transition: .4s;
    transition-delay: .4s;
}

.user-info {
    opacity: 0;
}

/* /////////////// User Image //////////////// */

.user-info > img {
    width: 60px; 
    height: 60px;
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
}

/* .user-info > img {
    opacity: 0;
} */

/* /////////////// USERNAME //////////////// */
.user-name{
    color: white;
    padding: 0 15px;
    font-variant: small-caps;
    pointer-events: none;
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
}
/* .user-name {
    opacity: 0;
} */

/* /////////////// Nav Titles //////////////// */
.nav-titles.open {
    color: #dadada;
    margin-bottom: 5px;
    opacity: 1;
    transition: .4s;
    transition-delay: .4s;
}

.nav-titles {
    color: #dadada;
    margin-bottom: 5px;
    opacity: 0;
}

/* /////////////// Nav Links List //////////////// */
.nav-list.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
    pointer-events: all;
}

.nav-list {
   opacity: 0;
   pointer-events: none;
}

.nav-item {
    font-size: 16px;
    text-align: left;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    padding: 10px;
    padding-left: 20px;
    margin: 10px 0;
    width: 100%;
}

.nav-item.active {
    background-color: rgb(31, 191, 191);

}

.nav-item:hover {
    /* background-color: rgb(255, 255, 255, .1); */
    background-color: rgb(31, 191, 191, .4);

}

/* /////////////// Line Break //////////////// */
.nav-bar.open > hr {
    margin: 40px 0 50px;
    width: 90%;
    height: 2px;
    border-radius: 3px;
    background: rgba(255, 255, 255, .1);
    opacity: 1;
    transition: .4s;
    transition-delay: .2s;
}

.nav-bar > hr {
    opacity: 0;
}

/* ///////////// */


.nav-bar > .nav-toggle {
    transition: .4s linear;
}

.nav-bar.open > .nav-toggle {
    transform: rotateY(180deg);
}

.nav-bar.open > .nav-toggle:hover {
    background-color: rgb(31, 191, 191, .4);
}
