.event-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    border: 2px solid rgba(52, 143, 255, 0.064);
    border-radius: 5px;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.06);
    padding: 15px;
    width: 35vmin;
    min-height: 45vmin;
}

.card-name {
    padding: 5px;
    margin: 10px;
    width: 100%;
}

.event-time {
    font-size: 14px;
    margin: 0 10px;
}

.card-date-time {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.card-message {
    border-top: 2px solid rgba(52, 143, 255, 0.132);
    border-radius: 5px;
    padding: 5px;
    min-width: 95%;
    min-height: 100px;
}

.card-button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-buttons {
    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 3px;
}

#edit-button {
    color: rgb(243, 176, 19);
    border: 1px solid rgb(243, 176, 19);
}

#delete-button {
    color: rgb(243, 75, 19);
    border: 1px solid rgb(243, 75, 19);
}

#edit-button:hover {
    color: white;
    background-color: rgb(243, 176, 19);
}

#delete-button:hover {
    color: white;
    background-color: rgb(243, 75, 19);
}
