.event-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border: 2px solid rgba(52, 143, 255, 0.064);
    border-radius: 5px;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.06);
    padding: 20px;
    padding-right: 0;
    width: 90%;
    min-height: 20vmin;
}

.event-card-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.event-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
}

.card-name {
    margin: 0;
}

.event-time {
    font-size: 14px;
    margin: 0 10px;
}

.card-date-time {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.card-message {
    border-top: 2px solid rgba(52, 143, 255, 0.132);
    border-radius: 5px;
    padding: 5px;
    min-width: 95%;
    min-height: 100px;
}

.card-button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-buttons {
    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 3px;
}

.color-box {
    margin: 0;
    padding: 0;
    height: 120px;
    width: 100px;
    border: 4px solid var(--primary);
    background-color: white;
}

.event-card-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.blue-strip {
    grid-area: 2 / 1 / 3 / 4;
    /* width: 100px;
    height: 40px; */
    background-color: var(--primary);
    z-index: 1;
}

.star {
    grid-area: 2 / 2 / 3 / 3;
    background-color: white;
    width: 25px;
    height: 25px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    z-index: 5;
}

#edit-button {
    color: rgb(243, 176, 19);
    border: 1px solid rgb(243, 176, 19);
}

#delete-button {
    color: rgb(243, 75, 19);
    border: 1px solid rgb(243, 75, 19);
}

#edit-button:hover {
    color: white;
    background-color: rgb(243, 176, 19);
}

#delete-button:hover {
    color: white;
    background-color: rgb(243, 75, 19);
}
