.home-page {
    width: 100%;
    height: 100%;
}

/* /////////////// Home Events //////////////// */
.next-event-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vmin;
}

.next-event {
    text-decoration: none;
}

.new-event-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-event-link {
    text-decoration: none;
    border: 2px solid green;
    border-radius: 5px;
    padding: 5px;
    color: black;
}

.new-event-link:hover {
    background-color: rgba(0, 128, 0, 0.5);
}